
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #3e7c17;
  --dark-grey: #273443;
  --grey: #8e8b82;
  --white: #ffffff;
  --black: #000000;
}


.upload-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--dark-grey);
  padding: 20px;
  position: relative; 
}


.upload-container {
  width: 100%;
  max-width: 450px;
  background: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  backdrop-filter: blur(10px);
}

.title {
  color: var(--white);
  margin-bottom: 1rem;
}


.upload-box {
  width: 100%;
  min-height: 150px;
  border: 2px dashed var(--grey);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  background: rgba(255, 255, 255);
  overflow: hidden; 
}


.preview-image {
  width: 100%;
  height: auto;
  object-fit: contain; 
  border-radius: 12px;
}

.upload-box:hover {
  background: rgba(255, 255, 255, 0.8);
}


.url-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--grey);
  border-radius: 8px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: var(--black);
}

.url-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}


.submit-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: var(--primary);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: var(--grey);
}


.illustration-container {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 400px;
  height: 300px;
}

.illustration-image {
  max-width: 100%;
  height: auto;
}


@media (max-width: 600px) {
  .upload-container {
    padding: 1.5rem;
  }

  .upload-box {
    height: 160px;
  }

  .submit-btn {
    font-size: 14px;
  }

  .illustration-container {
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: 400px;
    height: auto;
  }
  
  
  @media (max-width: 768px) {
    .illustration-container {
      position: static; 
      margin-top: 20px; 
      display: flex;
      justify-content: center; 
    }
  
    .illustration-image {
      width: 80%; 
      max-width: 300px;
    }
  }
  
}


